<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prog21.1iPhone_1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14F326EF1F39FDD8004A4FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F3270B1F39FDD8004A4FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F327161F39FDD8004A4FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
